*{
    background-color: rgb(209, 229, 247);
}
header{
    text-align: center;
}
header > h1{
    color: darkmagenta;
    font-weight: 700;
}
header> h3{
    color: blueviolet;
}
#input-Field{
    width: 50%;
    font-size: large;
    font-weight: 700;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(211, 200, 200);
    border-radius: 4px;
    box-sizing: border-box;
}
#search-btn{
    color: white;
    font-weight: 800;
    background-color: rgb(249, 102, 102);
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(211, 200, 200);
    border-radius: 8px;
    box-sizing: border-box;
}
#country{
    list-style: none;
    color: rgb(87, 87, 244);
    cursor: pointer;
}
#details-Info{
    /* height: 400px; */
    max-width: 400px;
    position: fixed;
    left: 80%;
    top: 60%;
    transform: translate(-50%, -50%);
    grid-template-columns: none;
}

#details-Info img{
   width: 100%; 
}